apiVersion: v1
kind: Service
metadata:
  name: piazza-api-service
  labels:
    app: piazza-api
spec:
  type: LoadBalancer

  selector:
    app: piazza-api

  ports:
  - name: http
    protocol: TCP
    port: 80          
    targetPort: 5000  

  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  
